INVENTORY_API_URL=http://localhost:TU_URL
SALES_API_URL=http://localhost:TU_URL
SHARED_API_URL=http://localhost:TU_URL
ConnectionStrings__DefaultConnection=Host=localhost;Database=SalesDb;Username=postgres;Password=tu_password